.footer {
  width: 100%;
  margin-top: 3%;
  padding: 1.6% 0;
  @include flex-container;
  background-color: #0f0e0e;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &__text {
    font-size: 0.9vw;
    color: white;
  }

  &__name {
    font-size: 0.9vw;
    cursor: pointer;
    color: $green-color;
    &:hover {
      border-bottom: 1px solid $green-color;
      opacity: 75%;
    }
  }
}
