.header {
  width: 100%;
  @include flex-container;
  justify-content: space-between;
  gap: 3%;
  padding: 2% 5%;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1000;

  .photo-wrapper {
    width: 15%;
    &__img {
      width: 90%;
      max-width: 90%;
      height: auto;
      border-radius: 20px;
      &:hover {
        opacity: 85%;
      }
    }
  }

  .icons-wrapper {
    width: 30%;
    @include flex-container;
    cursor: pointer;
    gap: 10%;

    &__link {
      width: 13%;
      height: auto;
    }

    &__icon {
      :hover {
        fill: blue;
      }
    }
  }

  .btn-wrapper {
    width: 60%;
    &__btn {
      width: 100%;
      @include flex-container;
      padding: 4% 3%;
      border-radius: 20px;
      border: 2px white solid;
      font-size: 2vw;
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
}
