.header {
  width: 100%;
  @include flex-container;
  justify-content: space-between;
  gap: 3%;
  padding: 2% 5%;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1000;

  .photo-wrapper {
    width: 15%;
    &__img {
      width: 90%;
      max-width: 90%;
      height: auto;
      border-radius: 20px;
      &:hover {
        opacity: 85%;
      }
    }
  }

  .icons-wrapper {
    width: 30%;
    @include flex-container;
    cursor: pointer;
    gap: 10%;

    &__link {
      width: 13%;
      height: auto;
    }

    &__icon {
      :hover {
        opacity: 70%;
        color: black;
      }
    }
  }
  .btn-wrapper {
    width: 60%;

    &__btn {
      width: 100%;
      @include flex-container;
      padding: 4% 3%;
      border-radius: 20px;
      border: 2px solid white;
      font-size: 2vw;
      cursor: pointer;
      background-color: black;
      color: white;
      font-weight: 400;
      transition: border-color 0.5s ease;

      &:hover {
        border-color: $green-color;
      }

      &.active {
        border-color: $green-color;
        transition: border-color 0.5s ease;
      }
    }
  }

  @include phone {
    padding: 4% 7%;
    display: grid;
    grid-template-areas:
      "photo photo button button button"
      "icons icons icons icons icons";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 15px;

    .photo-wrapper {
      grid-area: photo;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .btn-wrapper {
      grid-area: button;
      width: 100%;
      display: flex;
      justify-content: center;
      &__btn {
        font-size: 4.5vw;
        padding: 11% 3%;
        border-radius: 12px;
      }
    }

    .icons-wrapper {
      grid-area: icons;
      width: 100%;
      display: flex;
      justify-content: space-around;
      gap: 20px;

      &__link {
        width: 10%;
        height: auto;
      } 
    }
  }
}
