.intro {
  padding: 8% 5%;
  color: white;
  background-color: black;

  .intro-wrapper {
    &__title {
    }

    &__name {
      margin-top: 4%;
      font-size: 5vw;
    }
    &__information {
      margin-top: 4%;
    }
  }

  .info-wrapper {
    margin-top: 10%;
    @include flex-container;
    justify-content: space-between;
    &__block {
      @include flex-container;
      width: 25%;
    }
    &__icon {
   
    }
    &__text {
    }
  }
}
