.intro {
  padding: 6% 5%;
  color: white;
  background-color: black;

  .intro-wrapper {
    &__title {
      color: $green-color;
      font-size: 2vw;
    }

    &__name {
      margin-top: 4%;
      font-size: 5vw;
    }
    &__information {
      margin-top: 4%;
      color: $grey-color;
      text-align: justify;
      line-height: 1.5;
      font-size: 1.5vw;
    }
  }

  .info-wrapper {
    margin-top: 10%;
    color: $grey-color;
    @include flex-container;
    justify-content: space-between;
    &__block {
      @include flex-container;
      width: 25%;
    }
    &__icon {
   
    }
    &__text {
    }
  }
}
