.intro {
  padding: 6% 5%;
  color: white;
  background-color: black !important;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .intro-wrapper {
    &__title {
      color: $green-color;
      font-size: 2vw;
      &:hover {
        opacity: 85%;
      }
    }

    &__name {
      margin-top: 3%;
      font-size: 5vw;
      font-weight: 400;
      &:hover {
        opacity: 85%;
      }
    }

    &__information {
      margin-top: 4%;
      color: $grey-color;
      text-align: justify;
      line-height: 1.5;
      font-size: 1.5vw;
      &:hover {
        opacity: 85%;
      }
    }
  }

  .info-wrapper {
    margin-top: 9%;
    width: 100%;
    color: $grey-color;
    @include flex-container;
    justify-content: space-between;

    &__block {
      @include flex-container;
      &:hover {
        opacity: 80%;
      }
    }

    &__icon {
      width: 9%;
      height: auto;
      color: $grey-color;
    }
    &__text {
      margin-left: 2%;
      color: $grey-color;
      font-size: 1.5vw;
    }
  }

  @include phone {
    padding: 8% 7%;

    .intro-wrapper {
      &__title {
        margin-top: 4%;
        font-size: 5vw;
      }

      &__name {
        margin-top: 9%;
        line-height: 1.2;
        font-size: 11vw;
      }

      &__information {
        margin-top: 9%;
        font-size: 3.7vw;
        line-height: 1.3;
      }
    }

    .info-wrapper {
      margin-top: 15%;
      display: grid;
      grid-template-areas:
        "location location number number"
        ". email email .";
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      align-items: center;
      gap: 15px;

      &__first-block {
        grid-area: location;
      }

      &__second-block {
        grid-area: number;
      }

      &__third-block {
        grid-area: email;
        display: flex;
        align-items: center;
      }

      &__block {
      }

      &__icon {
        width: 12%;
      }
      &__text {
        font-size: 2.8vw;
      }
    }
  }
}
