.slider {
  margin-top: 6%;
  width: 100%;
  .slider-wrapper {
    display: flex;
    .slide {
      padding: 0 15%;
      &__img {
        width: 100%;
        height: auto;
      }
      &:hover {
        opacity: 85%;
      }
    }
  }

  @include phone {
    .slider-wrapper {
      margin-top: 9%;
    }
  }
}

.slick-prev,
.slick-next {
  display: none !important;
}
