.slider {
margin-top: 5%;
    width: 100%;
  .slider-wrapper {
    gap: 5%;
    .slide {
        
      &__img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.slick-prev, .slick-next {
    display: none !important; /* Скрыть стрелки */
  }
